{:deps true
 :builds {:app
					{:target :browser
					 :modules {:main {:entries [app.core]
														:init-fn app.core/init}}
					 :devtools {:preloads [uix.preload devtools.preload]
											:watch-dir "public"}}
					:server
					{:target :esm
					 :output-dir "out"
					 :modules {:main {:exports {default server.core/handler
																			PresenceDurableObject server.core/PresenceDurableObject}}}
					 :js-options {:js-provider :import}
					 :devtools {:enabled false}}}}